<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/nasa.css">
</head>
<body>
    <wrapper>
    <nav>
        <a href="/nasa" class="nolight">Weekly NASA Photos</h1>
        <a href="/random_nasa" class="highlight">Random NASA Photos</a>
    </nav>
    <section class="random">
        <a href="/random_nasa">
            <button>Generate Random Image</button>
        </a>
    </section>
    <div class="seven">
        {% if 'youtube' in nasa_data["url"] %}
            <div class="nasa_container">
                <iframe src='{{nasa_data["url"]}}' title="YouTube video player" frameborder="0"  class="nasa_img" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>{{nasa_data["title"]}}</p>
                <p>{{nasa_data["date"]}}</p>
                <p>{{nasa_data["explanation"]}}</p>
                <p>{{nasa_data["copyright"]}}</p>
            </div>
        {% endif %}
        {% if 'image' in nasa_data["url"] %}
        <div class="nasa_container">
            <img class="nasa_img" src='{{nasa_data["url"]}}'>
            <p>{{nasa_data["title"]}}</p>
            <p>{{nasa_data["date"]}}</p>
            <p>{{nasa_data["explanation"]}}</p>
            <p>{{nasa_data["copyright"]}}</p>

        </div>
        
        {% endif %}
    </div>
    </wrapper>

</body>
</html>